body {
  margin: 0px;
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
.topnav {
  background-color: #fff;
  overflow: hidden;

  font-family: 'Arvo', serif;
}
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  -webkit-app-region: no-drag;
  text-decoration: none;
  font-size: 24px;
}